<header class=header>
  <div class="row">
      <a href="/"><h1 class="title">Open BBS</h1></a>
  </div>
</header>
<nav>
  <div class="row header-nav">
        <div class="col-md-4 col-md-offset-1 col-xs-12">
          <form name="searchform" id="searchform" method="get" action="/search">
            <input name="keyword" id="keywords" placeholder="トピックを検索" type="text">
            <input type="image" src="/img/search.png" alt="検索" name="searchBtn" id="searchBtn">
          </form>
        </div>
  </div>
</nav>
